ZiiSensor.Test/Service References/TemperaturaServiceTest/TemperaturaServico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TemperaturaTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="DataHoraInclusao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Humidade" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDDispositivo" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="TemperaturaAtual" type="xs:int" />
      <xs:element minOccurs="0" name="TemperaturaMaxima" type="xs:int" />
      <xs:element minOccurs="0" name="TemperaturaMinima" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperaturaTO" nillable="true" type="tns:TemperaturaTO" />
  <xs:complexType name="ArrayOfTemperaturaTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemperaturaTO" nillable="true" type="tns:TemperaturaTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemperaturaTO" nillable="true" type="tns:ArrayOfTemperaturaTO" />
</xs:schema>