ZiiSensor.Test/Service References/TemperaturaServiceTest/TemperaturaServico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58227/TemperaturaServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" />
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" minOccurs="0" name="temperaturaDTO" nillable="true" type="q1:TemperaturaTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" minOccurs="0" name="ObterTodosResult" nillable="true" type="q2:ArrayOfTemperaturaTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" minOccurs="0" name="ObterPorIDResult" nillable="true" type="q3:ArrayOfTemperaturaTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>