ZiiSensor.UI/Connected Services/TemperaturaService/TemperaturaServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TemperaturaServico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58227/TemperaturaServico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58227/TemperaturaServico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58227/TemperaturaServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZiiSensor.Contratos.Temperatura" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemperaturaServico_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="ITemperaturaServico_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperaturaServico_ObterTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodos" />
  </wsdl:message>
  <wsdl:message name="ITemperaturaServico_ObterTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ITemperaturaServico_ObterPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorID" />
  </wsdl:message>
  <wsdl:message name="ITemperaturaServico_ObterPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemperaturaServico">
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperaturaServico/Adicionar" message="tns:ITemperaturaServico_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperaturaServico/AdicionarResponse" message="tns:ITemperaturaServico_Adicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperaturaServico/ObterTodos" message="tns:ITemperaturaServico_ObterTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperaturaServico/ObterTodosResponse" message="tns:ITemperaturaServico_ObterTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemperaturaServico/ObterPorID" message="tns:ITemperaturaServico_ObterPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemperaturaServico/ObterPorIDResponse" message="tns:ITemperaturaServico_ObterPorID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemperaturaServico" type="tns:ITemperaturaServico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/ITemperaturaServico/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterTodos">
      <soap:operation soapAction="http://tempuri.org/ITemperaturaServico/ObterTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPorID">
      <soap:operation soapAction="http://tempuri.org/ITemperaturaServico/ObterPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemperaturaServico">
    <wsdl:port name="BasicHttpBinding_ITemperaturaServico" binding="tns:BasicHttpBinding_ITemperaturaServico">
      <soap:address location="http://localhost:58227/TemperaturaServico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>